PORT=5000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgres://username:password@localhost:5432/green_website

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# Uploads (local)
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880

# Cloudinary
CLOUDINARY_CLOUD_NAME=dtjkviano
CLOUDINARY_API_KEY=493964853592139
CLOUDINARY_API_SECRET=MAUvM7_bR88oGYEqlS2mKA4zszY

CLOUDINARY_URL=cloudinary://493964853592139:MAUvM7_bR88oGYEqlS2mKA4zszY@dtjkviano